<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Universidade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a *ngIf="autenticacaoService.temPermissao('ROLE_ADMINISTRADOR')" aria-expanded="false" class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown" role="button">
            Usuário
          </a>
          <ul *ngIf="autenticacaoService.temPermissao('ROLE_ADMINISTRADOR')"
              class="dropdown-menu">
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_ADMINISTRADOR')"
                 class="dropdown-item" href="/lista-usuarios">Lista de Usuários
              </a>
            </li>
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_ADMINISTRADOR')"
                 class="dropdown-item" href="/cadastra-usuarios">Adicionar Usuário
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')" aria-expanded="false" class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown" role="button">
            Cursos
          </a>
          <ul *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
              class="dropdown-menu">
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                 class="dropdown-item" href="/lista-cursos">Lista de Cursos
              </a>
            </li>
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                 class="dropdown-item" href="/cadastra-curso">Adicionar Curso
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
             aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
            Matriz Curricular
          </a>
          <ul *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
              class="dropdown-menu">
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                 class="dropdown-item" href="/lista-matriz-curricular">Lista de Matrizes Curriculares
              </a>
            </li>
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                 class="dropdown-item" href="/cadastra-matriz-curricular">Adicionar Matriz Curricular
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
             aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
            Disciplina
          </a>
          <ul *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
              class="dropdown-menu">
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                 class="dropdown-item" href="/lista-disciplina">Lista de Disciplinas
              </a>
            </li>
            <li>
              <a *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                 class="dropdown-item" href="/cadastra-disciplina">Adicionar Disciplina
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <a *ngIf="estaLogado()" class="nav-link cursor-pointer" style="color: #FFFFFF" (click)="autenticacaoService.fazerLogout()">Sair</a>
      </div>
    </div>
  </div>
</nav>
