<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-md-6">
      <h2 class="mb-4 text-center">Usuário</h2>
      <form>

        <div class="mb-3 d-flex justify-content-center">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Matrícula</mat-label>
            <input [(ngModel)]="usuario.matricula" [readonly]="true" matInput name="matricula" placeholder="123">
          </mat-form-field>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <mat-form-field class="example-full-width mr-3" appearance="fill">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="usuario.nome" matInput name="nome" [readonly]="true"
                   placeholder="Ex. João da Silva">
          </mat-form-field>
          <mat-form-field class="example-full-width mr-3" appearance="fill">
            <mat-label>Tipo de usuário</mat-label>
            <input [(ngModel)]="usuario.tipoDeUsuario" matInput name="tipoDeUsuario" [readonly]="true"
                   placeholder="Ex. João da Silva">
          </mat-form-field>
        </div>

        <div class="mb-3 d-flex justify-content-center">
          <mat-form-field class="example-full-width mr-3" appearance="fill">
            <mat-label>Login</mat-label>
            <input [(ngModel)]="usuario.login" [readonly]="true" matInput name="login" placeholder="thiago">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="usuario.senha" [readonly]="true" matInput name="senha" placeholder="123">
          </mat-form-field>
        </div>

      </form>
    </div>
  </div>
</div>
