<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <h2 class="mb-4 text-center">{{ editando ? 'Atualizar Matriz Curricular' : 'Cadastrar Nova Matriz Curricular' }}</h2>
      <form>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cursos</mat-label>
          <mat-select [(ngModel)]="matrizCurricular.disciplinaId" name="cursos">
            <mat-option *ngFor="let curso of cursos" [value]="curso.id">
              {{ curso.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Disciplina</th>
            <th>Horas</th>
            <th>Semestre</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let disciplina of pageSlice; let i = index">
            <td>{{ disciplina.nome }}</td>
            <td>{{ disciplina.horas }}</td>
            <td>{{ disciplina.semestre }}</td>
            <td class="actions-cell">
              <input [(ngModel)]="disciplina.selecionada" [name]="'disciplina_' + i" class="form-check-input me-1" type="checkbox">
            </td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center">
          <button (click)="criarMatrizCurricular()" class="btn btn-primary" type="submit">
            {{ matrizCurricularId ? 'Atualizar Matriz Curricular' : 'Criar Matriz Curricular' }}
          </button>
        </div>
      </form>
      <div *ngIf="disciplinas.length === 0">
        <p>Nenhuma disciplina encontrada.</p>
      </div>

      <mat-paginator
        [length]="this.disciplinas.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10 ,15]"
        [hidePageSize]="true"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
