<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="table-responsive">
        <h2 class="mb-4 text-center">Cursos</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let curso of pageSlice">
            <td>{{ curso.nome }}</td>
            <td class="actions-cell">
              <a [routerLink]="['/atualizar-curso', curso.id]"
                 class="btn btn-primary action-btn btn-sm"
                 *ngIf="autenticacaoService.temPermissao('ROLE_COORDENADOR')">Atualizar</a>
              <button (click)="deletarCurso(curso.id)"
                      *ngIf="curso.id !== undefined && autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                      class="btn btn-danger action-btn btn-sm">Deletar
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="cursos.length === 0">
        <p>Nenhum curso encontrado.</p>
      </div>

      <mat-paginator
        [length]="this.cursos.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10 ,15]"
        [hidePageSize]="true"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>



