<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="table-responsive">
        <h2 class="mb-4 text-center">Matrizes Curriculares</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Curso</th>
            <th>Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let matrizCurricular of matrizesCurriculares">
            <td>{{ matrizCurricular}}</td>
            <td class="actions-cell">
              <a [routerLink]="['/visualizar-matriz-curricular', matrizCurricular]"
                 class="btn btn-secondary action-btn btn-sm">Visualizar</a>
              <button (click)="deletarMatrizCurricular(matrizCurricular)"
                      *ngIf="matrizCurricular !== undefined && autenticacaoService.temPermissao('ROLE_COORDENADOR')"
                      class="btn btn-danger action-btn btn-sm">Deletar
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

        <div *ngIf="matrizesCurriculares.length === 0">
          <p>Nenhuma matriz curricular encontrada.</p>
        </div>

        <mat-paginator
          [length]="this.matrizesCurriculares.length"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10 ,15]"
          [hidePageSize]="true"
          (page)="onPageChange($event)"
        ></mat-paginator>
    </div>
  </div>
</div>

